node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Circuit-related files that get generated
circuit/composite-check.r1cs
circuit/composite-check.sym
circuit/input.json
circuit/proof.json
circuit/public.json
circuit/witness.wtns
circuit/composite-check_js/composite-check.wasm
circuit/composite-check_js/generate_witness.js
circuit/composite-check_js/witness_calculator.js
